<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>CleverCode</title>
</head>
<body>
    <div class="cardForm">
        <div class="form_img card_background_img"></div>
        <hr>
        <h1>&#60;&#60; &#8220;CleverCode&#8221; &#62;&#62;</h1>
        <form action="/user" method="POST"><!--from here we will make a post request-->
            <section>
            <label for="username"><b>Enter username</b></label>
            <input type="text" id="username" placeholder="username" name="username"><!--this name is varible which is used in the query string-->
            </section>
            <button class="btn">Submit</button>
        </form>
    </div>  
</body>
</html>
