<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>CleverCode</title>
</head>
<body>
    <div class="cardInfo">
        <div class="form_img card_background_img"></div>
        <hr>
        <h1>&#60;&#60; &#8220;CleverCode&#8221; &#62;&#62;</h1>
        <br>
        <h2>--- About CleverCode ---</h2>
        <br>
        <p>
            
                CleverCode is an indispensible tool developed to assist fellow coders who want to be better at competitive programming, have their Codeforces account set up and ready to use but don't have a structured way to practice problems.
            
            
            
            <!-- Here, you can enter the Codeforces handle of some of the top-ranked coders and view their solved problems filtered by problem tag and sorted by rating. You can also check your progress by entering your username. -->
        </p>
        <br>
        <hr>
        <br>
        <h2>--- Steps to use ---</h2>
        <br>
        <ul>
            <li>Enter the Codeforces handle/username of the person you want to view the solved problems of.</li>
            <br>
            <li>On the next page, select the problem tag you want to view the solved problems of.</li>
            <br>
            <li>The Problems page displays that particular person's solved problems of the selected tag sorted by their rating and the Codeforces link to the orginal problem. Here, you can enter your handle to check your progress.</li>
            <br>
            <li>On the Progress page, the problems you have solved appear as green cards.</li>
        </ul>
        <br>
        <h2>HAVE FUN CODING!!!</h2>
        <a href="\user">
            <button class="proceed_btn btn">Proceed
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 15.5 12">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
            </button>
        </a>
        
    </div>
    
</body>
</html>
